* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    display: none;
    flex-direction: column;
    align-content: center;
    padding-top: 10px;
    width: 38%;
    height: 7%;
    margin: 10% auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 2%;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

input {
    display: flex;
    flex-direction: column;

    margin-left: 2%;
    width: 95%;
    height: 25px;
    font-size: 20px;
    color: white;
    background: transparent;
}